[MASTER]
init-hook='import sys; sys.path.insert(0, ".")'

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods

[VARIABLES]
init-import=yes
